mixin button(url)
  td(align="center" bgcolor="#1f84db" height="40" valign="middle" style="border-radius:4px;")
    a(href=url target="_blank" style="display:block; font-family: Arial, sans-serif; color:#ffffff; font-size:16px; line-height:24px; padding:8px 20px 8px 20px; text-decoration:none; white-space:nowrap; font-weight: bold;")
      span(style="font-family: Arial, sans-serif; color:#ffffff; font-size: 16px; line-height: 24px; font-weight: bold;")="Смотреть все товары"