// header
tr
    td(align="center" bgcolor="#212121" style="padding:0px;")
      table(align="center" cellpadding="0" cellspacing="0" style="border-collapse: collapse; Margin:0 auto; width:100%; max-width: 600px;")
        tr
          td(bgcolor="#212121" align="left" style="padding:6px 16px; font-family: Arial, sans-serif; color:#9e9e9e; width:100%; font-size:11px; line-height: 13px;")
            span("font-family: Arial, sans-serif; color:#9e9e9e; font-size:11px; line-height: 13px;") Вас приветствует интернет-магазин 
              span(style="white-space: nowrap;") Сима-ленд
        tr
          td(valign="middle" align="center" bgcolor="#3a3a3b" style="padding:0px; line-height:normal;")
            table(valign="middle" align="center" cellpadding="0" cellspacing="0" style="border-collapse: collapse; width:100%; max-width: 600px;")
              tr
                td(align="left" valign="middle" style="padding:17px 8px 18px 16px;")
                  a(href="https://www.sima-land.ru/" target="_blank" style="text-decoration: none;")
                    img(src="https://rassylka.static1-sima-land.com/ftp_rassylka/template/design2020/gold23.png" width="113" height="45" alt="" style="display: block; border: none; padding: 0px;")
                td(align="right" valign="middle" style="padding:8px 16px 8px 8px; font-family: Arial, sans-serif; font-size:14px; line-height: 20px;")
                  include ./mixin__list-link.pug
                  if date.headerLinks.length > 0
                    each item in date.headerLinks
                      +list-link(item.linkUrl, date.meta.utm, item.linkText)
// header end
