mixin banner(meta)
  a(href=meta.promoUrl+meta.utm target="_blank" style="text-decoration: none;")
    img(src=meta.bannerImg alt=meta.promoDesc style="border: none; padding: 0px; width: 100%; height: auto;")