mixin text-block(date)
  tr 
    td(align=date.align style="padding: 12px 16px 12px; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px;"+date.colors)
      span(style="font-family: Arial, sans-serif; font-size: 16px; line-height: 24px;"+date.colors)=date.value