tr 
  td(class="socnetwork" align="center" bgcolor="#fafafa" style="padding:12px 0px; font-size:0;")
    <!--[if (gte mso 9)|(IE)]><table width="100%" style="border-collapse: collapse; font-family:sans-serif; background-color:#fafafa;"><tr><td width="50%" valign="middle" align="center" style="padding:0;"><![endif]-->
    div(class="column" style="width: 100%; max-width: 300px; display: inline-block; vertical-align: middle;")
      table(width="100%" valign="middle" cellpadding="0" cellspacing="0" style="border-collapse: collapse;")
        tr 
          td(style="padding:4px 15px;")
            table(align="center" cellpadding="0" cellspacing="0" style="border-collapse: collapse; width:100%;")
              tr 
                td 
                  table(width="100%" cellpadding="0" cellspacing="0" style="border-collapse: collapse;")
                    tr 
                      td(align="center" style="padding:4px; font-size: 0;")
                        a(class="hover08" href="https://zen.yandex.ru/sima_land/" target="_blank" style="text-decoration: none;")
                          img(border="0" src="https://rassylka.static1-sima-land.com/ftp_rassylka/template/social/dzen.png" alt="dzen" style="border-width:0; width:auto;")
                      td(align="center" style="padding:4px; font-size: 0;")
                        a(class="hover08" href="https://vk.com/sima_land/" target="_blank" style="text-decoration: none;")
                          img(border="0" src="https://rassylka.static1-sima-land.com/ftp_rassylka/template/social/vk.png" alt="ВКонтакте" style="border-width:0; width:auto;")
                      td(align="center" style="padding:4px; font-size: 0;")
                        a(class="hover08" href="https://www.ok.ru/simaland/" target="_blank" style="text-decoration: none;")
                          img(border="0" src="https://rassylka.static1-sima-land.com/ftp_rassylka/template/social/ok.png" alt="Одноклассники" style="border-width:0; width:auto;")
                      td(align="center" style="padding:4px; font-size: 0;")
                        a(class="hover08" href="https://t.me/sima_land/" target="_blank" style="text-decoration: none;")
                          img(border="0" src="https://rassylka.static1-sima-land.com/ftp_rassylka/template/social/tel.png" alt="Telegram" style="border-width:0; width:auto;")
                      td(align="center" style="padding:4px; font-size: 0;")
                        a(class="hover08" href="https://www.youtube.com/channel/UCjA859KVI2UGvt2FYwTw8VQ" target="_blank" style="text-decoration: none;")
                          img(border="0" src="https://rassylka.static1-sima-land.com/ftp_rassylka/template/social/utb.png" alt="YouTube" style="border-width:0; width:auto;")
    <!--[if (gte mso 9)|(IE)]></td><td width="50%" valign="middle" align="center" style="padding:0;"><![endif]-->
    div(class="column" style="width: 100%; max-width: 300px; display: inline-block; vertical-align: middle;")
      table(width="100%" valign="middle" cellpadding="0" cellspacing="0" style="border-collapse: collapse;")
        tr
          td(style="padding:4px 0px;")
            table(align="center" cellpadding="0" cellspacing="0" style="border-collapse: collapse; font-family:sans-serif; width:100%;")
              tr
                td(align="center") 
                  <!--[if (gte mso 9)|(IE)]><table width="100%" style="border-collapse: collapse; font-family:sans-serif; background-color:#fafafa;"><tr><td width="50%" valign="middle" align="center" style="padding:0;"><![endif]-->
                  div(align="center" style="width: 100%; max-width: 140px; display: inline-block; vertical-align: middle;")
                    table(width="100%" align="center" valign="middle" cellpadding="0" cellspacing="0" style="border-collapse: collapse;")
                      tr
                        td(align="center" style="font-size: 0; padding:4px;")
                          a(href="https://play.google.com/store/apps/details?id=ru.sima_land.spb.market" target="_blank" style="text-decoration: none;")
                            img(border="0" src="https://rassylka.static1-sima-land.com/ftp_rassylka/template/design2020/gp.png" alt="Google Play" style="border-width:0; width:auto;")
                  <!--[if (gte mso 9)|(IE)]></td><td width="50%" valign="middle" align="center" style="padding:0;"><![endif]-->
                  div(align="center" style="width: 100%; max-width: 140px; display: inline-block; vertical-align: middle;")
                    table(width="100%" align="center" valign="middle" cellpadding="0" cellspacing="0" style="border-collapse: collapse;")
                      tr
                        td(align="center" style="font-size: 0; padding:4px;")
                          a(href="https://itunes.apple.com/ru/app/sima-lend/id1057565689?mt=8/" target="_blank" style="text-decoration: none;")
                            img(border="0" src="https://rassylka.static1-sima-land.com/ftp_rassylka/template/design2020/as.png" alt="App store" style="border-width:0; width:auto;")
                  <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
               