doctype html
html
  head
    title Email Template
    style.
      /* Inline styles should be minimal. Global styles are preferred. */
      
      /*h1 { color: blue; }*/
      
      /*p { font-size: 16px; }*/
  body
    table(width="100%")
      tr
        td
          h1 Hello, Email
          p This is a sample email template created using Pug and Gulp.
