extends ./layout/default.pug

block content
  include ./components/header/header.pug   
  include ./components/space/space.pug
  include ./components/banner/banner.pug 
  include ./components/body/body.pug 
    block body 
      include ./components/text/text.pug
      include ./components/article/mixin__cards-row.pug
      if date.cards.length > 0
        each cards in date.cards
          +cards-row(cards)
      else 
        span
      include ./components/button/button.pug 
        block button
          include ./components/button/mixin__button.pug
          +button(date.meta.promoUrl)
  include ./components/space/space.pug
  include ./components/benefit/mixin__benefit.pug
  +benefit(date.benefit)
  include ./components/space/space.pug
      