block variables
  
  - 
    var date = {
      meta: {
        utm: 'utm_source=email&utm_medium=kp_hand&utm_campaign=024249774-promo_odezhda_opt',
        promoUrl: 'https://www.sima-land.ru/promo/tovary-mesyaca-aprel/tovary-po-uhodu-za-obuvyu/?',
        promoDesc: 'Товары для ухода за обувью по отличным ценам до 30 апреля',
        bannerImg: 'https://rassylka.static1-sima-land.com/ftp_rassylka/024249774/0000.jpg',
      },
      headerLinks: [
        {linkUrl:'https://www.sima-land.ru/offers/?', linkText:'\u00A0\u00A0Акции\u00A0\u00A0' },
        {linkUrl:'https://www.sima-land.ru/sale/shveynaya-galantereya/?', linkText:'\u00A0\u00A0Скидки\u00A0\u00A0'},
        {linkUrl:'https://www.sima-land.ru/hit/shveynaya-galantereya/?', linkText:'\u00A0\u00A0Хиты\u00A0\u00A0'},
        {linkUrl:'https://www.sima-land.ru/new/shveynaya-galantereya/?', linkText:'\u00A0\u00A0Новинки\u00A0\u00A0'}
      ],
      textDate: {
        align: 'center',
        value: 'Ниже указаны оптовые цены.',
      },
      cards_3_6: [
        {name: 'Массажные стельки', price: '90', url: '3943475/?'},
        {name: 'Массажные стельки', price: '90', url: '3943475/?'},
        {name: 'Массажные стельки', price: '90', url: '3943475/?'},
        {name: 'Массажные стельки', price: '90', url: '3943475/?'},
        {name: 'Массажные стельки', price: '90', url: '3943475/?'},
        {name: 'Массажные стельки', price: '90', url: '3943475/?'},
      ],
      cards_3_3: [
        {name: 'Массажные стельки', price: '90', url: '3943475/?'},
        {name: 'Массажные стельки', price: '90', url: '3943475/?'},
        {name: 'Массажные стельки', price: '90', url: '3943475/?'},
      ],
      cards: [
        { row : [
          {name: 'Массажные стельки', price: '90', url: '3943475/?'},
          {name: 'Массажные стельки', price: '90', url: '3943475/?'},
          {name: 'Массажные стельки', price: '90', url: '3943475/?'},
          ]
        },
        { row : [
          {name: 'Массажные стельки', price: '90', url: '3943475/?'},
          {name: 'Массажные стельки', price: '90', url: '3943475/?'},
          {name: 'Массажные стельки', price: '90', url: '3943475/?'},
          ]
        },
        { row : [
          {name: 'Массажные стельки', price: '90', url: '3943475/?'},
          {name: 'Массажные стельки', price: '90', url: '3943475/?'},
          {name: 'Массажные стельки', price: '90', url: '3943475/?'},
          ]
        },
      ],
      benefit: [
        { text: 'Больше<br>1 000 000 товаров', img:'https://rassylka.static1-sima-land.com/ftp_rassylka/template/design2020/kp/1.png', url:'https://www.sima-land.ru/'},
        { text: 'Скидки на крупные<br>заказы', img:'https://rassylka.static1-sima-land.com/ftp_rassylka/template/design2020/kp/2.png', url:'https://www.sima-land.ru/skidka-za-obem/'},
        { text: 'Эксклюзивная<br>продукция', img:'https://rassylka.static1-sima-land.com/ftp_rassylka/template/design2020/kp/3.png', url:'https://www.sima-land.ru/nasha-razrabotka/'},
        { text: 'Доставка<br>в 7 800 городов', img:'https://rassylka.static1-sima-land.com/ftp_rassylka/template/design2020/kp/4.png', url:'https://www.sima-land.ru/info/delivery/'},
      ],
    }

doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="x-apple-disable-message-reformatting")
    meta(name="format-detection" content="telephone=no")
    meta(http-equiv="x-rim-auto-match" content="none")
    meta(name="format-detection" content="address=no")
    style 
      include ../../styles/style.css

    
  body(align="center" style="Margin:0; padding:0; min-width:100%; background-color:#f5f5f5;")
    div(style="background-color:#f5f5f5;")
      table(height="100%" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0; border-collapse:collapse;")
        tr 
          td(valign="top" align="center" bgcolor="#f5f5f5" style="padding:0; line-height:normal;")
            center(class="wrapper" bgcolor="#f5f5f5" style="width:100%; table-layout:fixed; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; background-color:#f5f5f5;")
              div(class="webkit" align="center" style="max-width:600px;")
                // [if (gte mso 9)|(IE)]> <table width="600" align="center" cellpadding="0" cellspacing="0" style="border-collapse: collapse;"> <tr> <td style="padding:0;"><![endif]
                table(class="outer" align="center" cellpadding="0" cellspacing="0" style="border-collapse: collapse; Margin:0 auto; width:100%; max-width:600px;")
                  block content
                  
                // [if (gte mso 9)|(IE)]> </td> </tr> </table> <![endif]