block variables
  - 
    var headerLinks = [
        {linkUrl:'https://www.sima-land.ru/offers/?', linkText:'\u00A0\u00A0Акции\u00A0\u00A0' },
        {linkUrl:'https://www.sima-land.ru/sale/shveynaya-galantereya/?', linkText:'\u00A0\u00A0Скидки\u00A0\u00A0'},
        {linkUrl:'https://www.sima-land.ru/hit/shveynaya-galantereya/?', linkText:'\u00A0\u00A0Хиты\u00A0\u00A0'},
        {linkUrl:'https://www.sima-land.ru/new/shveynaya-galantereya/?', linkText:'\u00A0\u00A0Новинки\u00A0\u00A0'}
    ]
  - var utm = 'utm_source=email&utm_medium=kp_hand&utm_campaign=024249774-promo_odezhda_opt'


doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="x-apple-disable-message-reformatting")
    meta(name="format-detection" content="telephone=no")
    meta(http-equiv="x-rim-auto-match" content="none")
    meta(name="format-detection" content="address=no")
    
  body(align="center" style="Margin:0; padding:0; min-width:100%; background-color:#f5f5f5;")
    div(style="background-color:#f5f5f5;")
      table(height="100%" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0; border-collapse:collapse;")
        tr 
          td(valign="top" align="center" bgcolor="#f5f5f5" style="padding:0; line-height:normal;")
            center(class="wrapper" bgcolor="#f5f5f5" style="width:100%; table-layout:fixed; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; background-color:#f5f5f5;")
              div(class="webkit" align="center" style="max-width:600px;")
                table(class="outer" align="center" cellpadding="0" cellspacing="0" style="border-collapse: collapse; Margin:0 auto; width:100%; max-width:600px;")
      block content          